In [18]:
import pandas as pd

pd.set_option("display.max_columns", None)

In [19]:
netflix_original = pd.read_csv("/Users/Charlie/Desktop/hackio/da-octubre-24/Modulo2/labs/enunciados/datos/netflix_originals.csv", index_col= 0)

In [20]:
display(netflix_original)

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
...,...,...,...,...,...,...
576,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English
577,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [21]:
print(netflix_original.duplicated().sum())

0

In [22]:
netflix_title = pd.read_csv("/Users/Charlie/Desktop/hackio/da-octubre-24/Modulo2/labs/enunciados/datos/netflix_titles.csv", index_col= 0)
display(netflix_title)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [23]:
print(netflix_title.duplicated().sum())

0

In [24]:
netflix_merge = pd.merge(netflix_original, netflix_title, left_on = "Title", right_on = "title")
print(netflix_merge)

                                           Title                  Genre  \
0                                Enter the Anime            Documentary
1                                    Dark Forces               Thriller
2                                        The App  Science fiction/Drama
3                                 The Open House        Horror thriller
4                                    Kaali Khuhi                Mystery
..                                           ...                    ...
508                       Cuba and the Cameraman            Documentary
509                       Dancing with the Birds            Documentary
510  Winter on Fire: Ukraine's Fight for Freedom            Documentary
511                      Springsteen on Broadway           One-man show
512     David Attenborough: A Life on Our Planet            Documentary

              Premiere  Runtime  IMDB Score                  Language show_id  \
0       August 5, 2019       58         2.5          English/Japanese   s3624
1      August 21, 2020       81         2.6                   Spanish   s2105
2    December 26, 2019       79         2.6                   Italian   s3095
3     January 19, 2018       94         3.2                   English   s5074
4     October 30, 2020       90         3.4                     Hindi   s1778
..                 ...      ...         ...                       ...     ...
508  November 24, 2017      114         8.3                   English   s5153
509   October 23, 2019       51         8.3                   English   s3387
510    October 9, 2015       91         8.4  English/Ukranian/Russian   s5894
511  December 16, 2018      153         8.5                   English   s4294
512    October 4, 2020       83         9.0                   English   s1887

      type                                        title  \
0    Movie                              Enter the Anime
1    Movie                                  Dark Forces
2    Movie                                      The App
3    Movie                               The Open House
4    Movie                                  Kaali Khuhi
..     ...                                          ...
508  Movie                       Cuba and the Cameraman
509  Movie                       Dancing with the Birds
510  Movie  Winter on Fire: Ukraine's Fight for Freedom
511  Movie                      Springsteen on Broadway
512  Movie     David Attenborough: A Life on Our Planet

                                              director  \
0                                        Alex Burunova
1                                    Bernardo Arellano
2                                         Elisa Fuksas
3                            Matt Angel, Suzanne Coote
4                                      Terrie Samundra
..                                                 ...
508                                         Jon Alpert
509                                         Huw Cordey
510                                  Evgeny Afineevsky
511                                         Thom Zimny
512  Alastair Fothergill, Jonnie Hughes, Keith Scholey

                                                  cast  \
0    Kozo Morishita, Yoko Takahashi, Shinji Aramaki...
1    Tenoch Huerta, Eréndira Ibarra, Dale Carley, A...
2    Vincenzo Crea, Jessica Cressy, Greta Scarano, ...
3    Dylan Minnette, Piercey Dalton, Patricia Bethu...
4    Shabana Azmi, Leela Samson, Sanjeeda Sheikh, S...
..                                                 ...
508                                                NaN
509                                        Stephen Fry
510                                                NaN
511                                  Bruce Springsteen
512                                 David Attenborough

                                    country         date_added  release_year  \
0                      United States, Japan     August 5, 2019          2019
1                                    Mexico    August 21, 2020          2020
2                                     Italy  December 26, 2019          2019
3                     Canada, United States   January 19, 2018          2018
4                                     India   October 30, 2020          2020
..                                      ...                ...           ...
508                           United States  November 24, 2017          2017
509                           United States   October 23, 2019          2019
510  United Kingdom, Ukraine, United States    October 9, 2015          2015
511                           United States  December 16, 2018          2018
512           United States, United Kingdom    October 4, 2020          2020

    rating duration                                          listed_in  \
0    TV-MA   59 min                Documentaries, International Movies
1    TV-MA   81 min  Horror Movies, Independent Movies, Internation...
2    TV-MA   79 min   Dramas, Independent Movies, International Movies
3    TV-MA      NaN                           Horror Movies, Thrillers
4    TV-14      NaN                Horror Movies, International Movies
..     ...      ...                                                ...
508  TV-14      NaN                                      Documentaries
509  TV-PG   52 min                                      Documentaries
510  TV-MA      NaN                Documentaries, International Movies
511  TV-MA  153 min                                   Music & Musicals
512     PG   84 min                                      Documentaries

                                           description
0    What is anime? Through deep-dives with notable...
1    In search of his sister, a renegade criminal s...
2    While in Rome to shoot his first movie, actor ...
3    Following a tragedy, a mother and her teen son...
4    When a restless spirit curses a village that h...
..                                                 ...
508  Emmy-winning filmmaker Jon Alpert chronicles t...
509  From ruffling their majestic feathers to naili...
510  Over 93 days in Ukraine, what started as peace...
511  Bruce Springsteen shares personal stories from...
512  A broadcaster recounts his life, and the evolu...

[513 rows x 18 columns]

In [26]:
print(f"Tenemos {netflix_merge.shape[0]} filas y {netflix_merge.shape[1]} columnas")

Tenemos 513 filas y 18 columnas

In [29]:
netflix_merge.pop("title")

0                                  Enter the Anime
1                                      Dark Forces
2                                          The App
3                                   The Open House
4                                      Kaali Khuhi
                          ...
508                         Cuba and the Cameraman
509                         Dancing with the Birds
510    Winter on Fire: Ukraine's Fight for Freedom
511                        Springsteen on Broadway
512       David Attenborough: A Life on Our Planet
Name: title, Length: 513, dtype: object

In [30]:
netflix_merge.shape[1]

17

He eliminado la columna 'title' porque está duplicada

In [31]:
print(f"Ahora tenemos {netflix_merge.shape[0]} filas y {netflix_merge.shape[1]} columnas")

Ahora tenemos 513 filas y 17 columnas

In [7]:
print(netflix_merge.duplicated().sum())

0

Tenemos 0 duplicados

In [14]:
netflix_merge.describe(include="O").T

,count,unique,top,freq
Title,513,513,David Attenborough: A Life on Our Planet,1
Genre,513,106,Documentary,132
Premiere,513,350,"October 18, 2019",5
Language,513,37,English,352
show_id,513,513,s1887,1
type,513,1,Movie,513
title,513,513,David Attenborough: A Life on Our Planet,1
director,491,462,McG,3
cast,422,421,Shawn Mendes,2
country,499,81,United States,274
date_added,513,354,"October 18, 2019",5
rating,513,10,TV-MA,254
duration,276,86,98 min,20
listed_in,513,103,Documentaries,69
description,513,513,"A broadcaster recounts his life, and the evolu...",1

In [16]:
netflix_merge.describe().T

,count,mean,std,min,25%,50%,75%,max
Runtime,513.0,94.674464,26.648121,4.0,87.0,97.0,108.0,209.0
IMDB Score,513.0,6.210916,0.968850,2.5,5.6,6.3,6.9,9.0
release_year,513.0,2018.888889,1.510812,2014.0,2018.0,2019.0,2020.0,2021.0